* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



#homedesu {
 
  background-image:url("../images/bbg.jpg");
  background-color: steelblue;
  background-attachment: fixed;
  width=100%;
  padding: 200px 20px 200px 20px;
  margin-top: -30px;
  margin-bottom:0px;
}

@keyframes glow{
  from{
    opacity:1;
  }
  to{
    opacity:.9;
  }
}

.introdesu{
  font-family:Times New Roman;
  font-size:80px;
  color:#e0e0e0;
  text-shadow:0px 0px 9px white;
  -webkit-animation:glow .6s infinite;
  animation:glow .6s infinite;
  
}

#aboutdesu{
background-size:100% 100%;
  height:500px auto;
  width:100% auto;
  padding: 50px 0px 50px 0px;
  position:relative;
  background-image:url("../images/lbg.jpg");
   background-attachment: fixed;
}

.mepic{
  display: block;
  border-radius:100px;
  margin-left: auto;
    margin-right: auto;
  box-shadow: 0 0 15px;
 postion:absolute;
   z-index: -1; 
  -webkit-transition:transform 3s,ease-in-out;
  transition:transform 3s,ease-in-out;
 
}

.mepic:hover{
  transform:scale(1.1); 
}

.abme{
  padding-top:30px;
  font-size:16px;
  font-color:black;
  text-shadow:0px 0px 11px orange; 
   -webkit-animation:glow .6s infinite;
  animation:glow .6s infinite;
  
}

.mememe{
  border-right-width:2px;
  border-right-style:solid;
   border-left-width:2px;
  border-left-style:solid;
  width: 60%; 
  height:100%;
  background-color: rgba(0, 0, 0, 0.1);
  margin:0 auto;
  padding:50px;
  postion:absolute;
  z-index: -2;
box-shadow: 0 0 15px;
}

.coverdesu {
   z-index: -3;
 width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: gray;
}

@thumbnail-width: 1440px;
@thumbnail-height: 900px;
@thumbnail-zoom: 0.25;


#pfdesu { 
    overflow:hidden;
background-size:100% 100%;
  height:500px auto;
   background-image:url("../images/bbg.jpg");
   padding: 50px 20px 50px 100px;
  background-color: black;
}

.proj{   
  margin:40px 20px 20px 20px;
  padding:50px;
  background-color:white;
  box-shadow: 0 0 15px;
}

.projtext{
  margin-bottom:0;
}


.coverpic{
  width: calc(@thumbnail-width * @thumbnail-zoom);
  height: calc(@thumbnail-height * @thumbnail-zoom);
}
.coverpic img{       
  width:100%;
  height:100%;
  border-width:4px;             
  border-style:solid;
  box-shadow: 0 0 30px;
  position:absolute;
  z-index:6;       
  opacity:0;           
  -webkit-transition:background 2s,ease-in-out;
  transition:all 2s,tarsform 2s,ease-in-out;
}
.coverpic img:hover{  
  opacity:.3;
    -webkit-transform:scale(1.2);
  transform:scale(1.2);
}



.thumbnail-container {
       
  width: calc(@thumbnail-width * @thumbnail-zoom);
  height: calc(@thumbnail-height * @thumbnail-zoom);
  display: inline-block;
  overflow: hidden;
  position: relative;
  background: #010101;
  margin-left:auto;
  margin-right:auto;
  overflow:hidden;
}

/* Image Icon for the Background */
.thumbnail-container::before {
  position: absolute;
  left: ~"calc(50% - 16px)";
  top: ~"calc(50% - 18px)";
  opacity: 0.2;
  display: block;
  -ms-zoom: .3;
  -o-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  content: url("../images/ph.png");
}

/* This is a masking container for the zoomed iframe element */
.thumbnail {
	 background: #000;
  -ms-zoom: @thumbnail-zoom;
  -moz-transform: scale(@thumbnail-zoom);
  -moz-transform-origin: 0 0;
  -o-transform: scale(@thumbnail-zoom);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(@thumbnail-zoom);
  -webkit-transform-origin: 0 0;

}

/* This is our screen sizing */
.thumbnail, .thumbnail iframe {
  width: @thumbnail-width;
  height: @thumbnail-height;
 
}
          
/* This facilitates the fade-in transition instead of flicker. It also helps us maintain the illusion that this is an image, since some webpages will have a preloading animation or wait for some images to download */
.thumbnail iframe {                                      
  opacity: 0;
  transition: all 300ms ease-in-out;
    position: relative;  
}  

/* This pseudo element masks the iframe, so that mouse wheel scrolling and clicking do not affect the simulated "screenshot" */
.thumbnail:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;              
  bottom: 0;
            
}

.one:hover{
  animation: tada 2s;
}

.two:hover{
  animation: bounce 2s;
}

.three:hover{
   animation: wobble 2s;
}


#contactdesu {
   background-size:100% 100%;
   height:500px auto;
   padding: 100px 10px 100px 10px;
  background-color: orange;
}

#contactdesu .container {
  left:0;
  right: 0; 
  text-align: center;
    margin-left: 0 auto;     
    margin-right:0 auto;
    position:relative;  
    display: flex;
    align-items: center;
    justify-content: center; 
}



.clear { 
  clear: both; 
}


.conimage{
  width:100px;
  height:100px;
  max-width:100px;
   margin:0;
  padding:0;
}
.conimage img{
  width:100%;
  height:100%;
  max-width:100px;
   margin:0;
  padding:0;
}

.middle{
  display:block;
  margin-left: auto;
  margin-right:auto;

}
#fdesu {
  font-family:Old English Text MT;
  font-size:20px;
  background-color: gray;
}

#first { 
  display:block;
  margin-left:auto;
  margin-right:auto;
  padding:0;
    -moz-transform: scale(2, 2); 
    -webkit-transform: scale(2, 2); 
    -o-transform: scale(2, 2); 
    transform: scale(2, 2); 
   
}

